.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

 input {
  width: 300px;
  height: 50px;
  font-size: 18px;
  padding-left: 10px;
}

 button {
  width: 320px;
  height: 50px
}

.information button:hover {
  cursor: pointer;
}

.employees {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: aqua;
}

.employee {
  width: 700px;
  height: 180px;
  background-color: lightgray;
  border: 1px solids black;
  margin: 10px;
  display: flex;
  padding: 10px;
}

.employee h3 {
  margin: 20px;
}


